name: Deploy Frontend to EC2
on:
  push:
    branches:
      - main
    # paths:
    #   - 'app/**'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check SSH connection
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |  
            echo "SSH connection successful"  
            whoami  

      - name: Pull latest code cleanly
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            set -e  # Exit immediately on any error
            cd /var/www/mekuspay/Mekuspay-test
            # Pull latest code cleanly
            # git fetch origin main
            # git reset --hard origin/main
            git pull origin main 

      - name: Remove old container
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker compose -f /var/www/mekuspay/Mekuspay-test/app/production/docker-compose.yml down app || true

      - name: Deploy Frontend via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            set -e  # Exit immediately on any error
            # Rebuild ONLY the frontend image from source
            # --no-cache is optional; remove it if builds are slow and you trust layer caching
            # docker compose -f docker-compose.yml build --no-cache app
            docker compose -f /var/www/mekuspay/Mekuspay-test/app/production/docker-compose.yml build --no-cache app
            
            
            # Restart ONLY the frontend container
            # --no-deps ensures dependent services are NOT touched
            # docker compose -f docker-compose.yml up -d --no-deps app
            docker compose -f /var/www/mekuspay/Mekuspay-test/app/production/docker-compose.yml up -d --no-deps app
            # Verify the container is running and healthy
            sleep 5
            # docker compose -f docker-compose.yml ps app
            docker compose -f /var/www/mekuspay/Mekuspay-test/app/production/docker-compose.yml ps app
            
            echo "app deployment completed successfully."
